<div class="post-card clearfix">
    <div class="post-card__title">java</div>
    <hr id="line">
    <div class="post-card__header">
        <div class="post-card__user">
            <div class="post-card__user-img-box">
                <img src="assets/img/user-pic.jpg" alt="" class="post-card__user-img">
            </div>
            <div class="post-card__user-desc">
                <div class="post-card__user-name">Ferchichi Baha</div>
                <div class="post-card__user-type">Public</div>
            </div>
        </div>
        <div class="post-card__time">2 min</div>
    </div>
    <div class="post-card__main">
        #présentiel <br> Bonjour à tous,<br> Je vous informe qu'on n'aura pas une séance de cours demain le 04/02/2019.
    </div>
    <div class="post-card__pics">
        <img class="post-card__pic" src="" alt="">
    </div>
</div>