<h2 mat-dialog-title>The JEE courses will start on February 2</h2>
<mat-dialog-content class="mat-typography">
    <h3>Hello SRT M1</h3>
    <p>The JEE courses will start on February 2, 2019 at 8:30 am in the AP1 amphitheater.Given the importance of the first chapter, we sincerely hope everyone will be there. Thank you very much for your consideration.</p>



    <h3>Incredible tooling</h3>
    <p>Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this
        comes together so you can focus on building amazing apps rather than trying to make the code work.</p>

    <h3>Loved by millions</h3>
    <p>From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>

    <h3>What is Angular?</h3>

    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers
        to build applications that live on the web, mobile, or the desktop</p>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers
        to build applications that live on the web, mobile, or the desktop</p>
    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers
        to build applications that live on the web, mobile, or the desktop</p>

    <h3>Architecture overview</h3>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save News</button>
</mat-dialog-actions>