@import './variables';
@import './mixins';
.subj-card {
    background-color: $color-primary;
    border-radius: 5px;
    width: 95%;
    color: white;
    position: relative;
    margin: 30px;
}

.subj-card::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 6.20rem;
    background-color: $color-primary-2;
    border-radius: 5px 0 0 5px;
}