    @import './variables';
    @import './mixins';
    .add-post-card {
        background-color: white;
        border-radius: 5px;
        width: 80%;
        color: $color-text-dark-1;
        position: relative;
        margin-left: 2rem;
        margin-top: 3rem;
        &__title {
            padding: 1rem;
            font-size: 1.25rem;
            font-weight: 600;
        }
        &__form {
            &__input {
                resize: none;
                font-family: inherit;
                font-size: 1.5rem;
                color: inherit;
                margin: 1.5rem;
                border: none;
                background-color: $color-grey-3;
                padding: 1.25rem 1.5rem;
                border-radius: 5px;
                width: 94%;
                transition: all .1s;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-weight: 300;
                    color: rgb(176, 170, 190);
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    font-weight: 100;
                    color: rgb(176, 170, 190);
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    font-weight: 100;
                    color: rgb(176, 170, 190);
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    font-weight: 100;
                    color: rgb(176, 170, 190);
                }
            }
            &__post-button {
                margin: 0 1.5rem 1rem 0;
                float: right;
                background-color: $color-primary;
                color: white;
                font-size: 1.25rem;
            }
            &__image-upload {
                margin-top: 0.5rem;
                margin-left: 1.5rem;
                opacity: 0.4;
                float: left;
                transition: 0.4s;
                &__icon {
                    opacity: 0.5;
                    transition: 0.4s;
                }
                &__icon:hover {
                    opacity: 1;
                    cursor: pointer;
                    -webkit-touch-callout: none;
                    /* iOS Safari */
                    -webkit-user-select: none;
                    /* Safari */
                    -khtml-user-select: none;
                    /* Konqueror HTML */
                    -moz-user-select: none;
                    /* Firefox */
                    -ms-user-select: none;
                    /* Internet Explorer/Edge */
                    user-select: none;
                    /* Non-prefixed version, currently*/
                }
                &>input {
                    display: none;
                }
            }
        }
    }
    
    #blah {
        opacity: 0.7;
        width: 17%;
        height: 85px;
        margin: 0.5rem 0 1.5rem 1.25rem;
        border-radius: 5px;
        transition: 0.6s ease;
        &:hover {
            cursor: -webkit-grab;
            cursor: grab;
            opacity: 1;
        }
    }