.subj-card__elm {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 1.5rem;
    margin-bottom: -2rem;
    position: relative;
    cursor: pointer;
    &__icon {
        position: relative;
    }
    &__img {
        height: 3.5rem;
        width: 3.5rem;
    }
    &__desc {
        font-size: 1.25rem;
        margin: 0 2rem;
    }
    &__count {
        opacity: .5;
        &__nmbr {
            margin-right: .5rem;
        }
    }
    &__new {
        position: absolute;
        top: 40%;
        right: 0rem;
        opacity: .5;
    }
}