<header class="header">
    <img src="assets/img/logo.png" alt="logo" class="logo">

    <ul class="menu">
        <li class="menu__item">
            <a href="#" class="menu__item__link">Home</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__item__link">Find Friends</a>
        </li>
    </ul>
    <form action="#" class="search">
        <input type="text" class="search__input" placeholder="Search">
        <button class="search__button">
          <svg class="search__icon">
<use xlink:href="assets/img/symbol.svg#icon-search"></use>
          </svg>
        </button>
    </form>
    <nav class="user-nav">
        <div class="user-nav__icon-box">
            <svg class="user-nav__nav-icon">
                <use xlink:href="assets/img/symbol.svg#icon-people"></use>
            </svg>
        </div>
        <div class="user-nav__icon-box">
            <svg class="user-nav__nav-icon">
                <use xlink:href="assets/img/symbol.svg#icon-message"></use>
            </svg>
            <span class="user-nav__notification">12</span>
        </div>
        <div class="user-nav__icon-box">
            <svg class="user-nav__nav-icon">
                <use xlink:href="assets/img/symbol.svg#icon-notification"></use>
            </svg>
            <span class="user-nav__notification">7</span>
        </div>
        <div class="user-nav__icon-box">
            <svg class="user-nav__nav-icon">
                <use xlink:href="assets/img/symbol.svg#icon-question"></use>
            </svg>
        </div>
        <div class="user-nav__user">
            <img src="assets/img/user-pic.jpg" alt="user-picture" class="user-nav__user-photo">
        </div>
    </nav>

</header>