@import 'variables';
@import 'mixins';
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    height: 5rem;
    font-size: 1.4rem;
}

//////////////////////////////////////////////////
////// logo
.logo {
    height: 2.75rem;
    margin-left: 2rem;
    flex: 0 0;
}

//////////////////////////////////////////////////
////// Menu
.menu {
    display: flex;
    margin-left: -40rem;
    flex: 0 0 20%;
    &__item {
        padding: 0 1.8rem;
        list-style-type: none;
        &__link {
            color: $color-grey-1;
            text-decoration: none;
            font-size: 1.4rem;
            opacity: 0.6;
        }
    }
    &>.active {
        &>a {
            opacity: 1;
            font-weight: 700;
        }
    }
}

//////////////////////////////////////////////////
////// search
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -60rem;
    flex: 0 0 30%;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        border: none;
        background-color: $color-grey-1;
        padding: .3rem 2rem;
        border-radius: 100px;
        width: 60%;
        transition: all .2s;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-weight: 300;
            color: #C9C7CE;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-weight: 100;
            color: #C9C7CE;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-weight: 100;
            color: #C9C7CE;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-weight: 100;
            color: #C9C7CE;
        }
    }
    &__button {
        border: none;
        background-color: $color-grey-1;
        margin-left: -3rem;
        margin-top: .1rem;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px)
        }
    }
    &__icon {
        height: 1.8rem;
        width: 1.8rem;
        fill: #C9C7CE;
    }
}

//////////////////////////////////////////////////
////// User nav
.user-nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    margin-right: 2rem;
    &>* {
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &>*:hover {
        background-color: darken($color-primary, 5%)
    }
    &__icon-box {
        position: relative;
    }
    &__nav-icon {
        height: 1.8rem;
        width: 1.8rem;
        fill: $color-grey-1;
    }
    &__notification {
        font-size: .9rem;
        font-weight: 600;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 50%;
        background-color: $color-primary-red;
        color: $color-grey-1;
        position: absolute;
        top: 1rem;
        left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }
}